/build/
/build-*/
/target/
*.o
.DS_Store
.idea/
target/
pool/server/pool.toml
/deploy/docker/containers/certbot/config.json
/deploy/docker/.env
/tools/coinbase/coinbase_test
/tools/coinbase/bb-finalizer
/tools/coinbase/bb-coinbase
